#banners {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    

    

    #banners-container {
        display: flex;
        align-items: center;
        width: 90%;
        max-width: 1444px;

        flex-direction: column;
        
    }

    .banner-t {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding: 5.63rem 0 ;

        @media(max-width: 1080px) {
            flex-direction: column-reverse;
            gap: 6rem;
        }

        gap: 10rem;

        &:nth-child(2n) {
            flex-direction: row-reverse;

            @media(max-width: 1080px) {
                flex-direction: column-reverse;
                gap: 6rem
            }
        }
        .text-area-bannet-t {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            max-width: 25.63rem;

            h1 {
                font-size: 2rem;
                font-weight: 700;
            }
            p {
                color: $text-color;
            }


            a {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                color: $link-blue;
            }
        }
    }
}