header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 0rem;

    
    #header-container {

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        max-width: 1444px;
        padding: 0.25rem 0;


        nav {
            ul {
                display: flex;
                gap: 2rem ;
                align-items: center;


                list-style: none;

                li {
                    color: $text-color;
                }

                button {
                    background: none;
                    border: 1px solid $link-blue;
                    
                    padding: 0.75rem 1.44rem ;
                    a {
                        color: $link-blue;
                    }

                    &:hover {
                        background: $link-blue;
                        filter: none;
                        a {
                            color: #fff;
                            filter: none;
                        }
                        
                    }
                }
            }
        }

        @media(max-width: 920px) {
           nav {
                display: none;
            } 
        }

        #ham-btn {
            
            display: none;

            
            .ham-btn-bar {
                width: 35px;
                height: 5px;
                background-color: #333;
                margin: 6px 0;
                transition: 0.4s;
            }
     }

     .active {
            .ham-btn-bar:nth-child(1) {
               -webkit-transform: rotate(-45deg) translate(-9px, 6px);
               transform: rotate(-45deg) translate(-9px, 6px);
           }
         
          .ham-btn-bar:nth-child(2) {opacity: 0;}
         
          .ham-btn-bar:nth-child(3) {
           -webkit-transform: rotate(45deg) translate(-8px, -8px);
           transform: rotate(45deg) translate(-8px, -8px);
         }
       
     }
        @media(max-width: 920px) {
            #ham-btn {
            display: inline;
            }
        }

    }
}